<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clínica Shanax</title>
    <!-- BOOTSTRAP estilos -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<!--Navbar -->
    <!-- Navbar con botones ocupando todo el ancho -->
<!-- Navbar con botones colapsables -->
<nav class="navbar navbar-expand-lg navbar-light w-100">
    <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='Shanax.png') }}" alt="Logo" style="height: 100px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarButtons"
            aria-controls="navbarButtons" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarButtons">
        <div class="navbar-nav mx-auto">
            <a href="/save" class="nav-link mx-2 {% if current_page == 'add_paciente' %}active{% endif %}">Agregar Paciente</a>
            <a href="/data" class="nav-link mx-2 {% if current_page == 'data' %}active{% endif %}">Pacientes</a>
            <a href="/grafico" class="nav-link mx-2 {% if current_page == 'grafico' %}active{% endif %}">Gráfico</a>
            <a href="/logout" class="nav-link mx-2">Cerrar sesión</a>
        </div>
    </div>
</nav>

    <div class="container pt-4">
        {% block body %}
        {% endblock %}
    </div>
                <!--Pie de pagina -->
    <footer class="footer">
            <span>Copyright © 2024 Clínica Shanax. Todos los derechos reservados.</span>
            <p>Correo: clinicashanax@gmail.com</p>
        <img src="static\heart.png"  style="height: 100px;">
    </footer>

    <!-- Estos script verifican que el usuario este logueado, y en caso de que no lo redirige al login -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/check_session',  // Ruta que valida la sesión en el servidor
                type: 'GET',
                success: function (response) {
                    // Si la sesión no es válida, redireccionar al login
                    if (response.status !== 'ok') {
                        window.location.href = '/login';
                    }
                }
            });
        });
    </script>
    <!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-gtEjrD/SeCtmjBIp1p6qolYNBOCk7r/4pbx6iLGpnh4xEK5pC6f7omZl5YZXt9r" 
crossorigin="anonymous"></script>

</body>
