.table {
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra */
    width: 100%; /* Ancho al 100% */
  }
  
  /* Estilos para el texto dentro de la tabla */
  
  .table th {
    font-family: 'Noto Sans', cursive; /* Cambiar la fuente a Comic Sans */
    font-size: 16px; /* Tamaño de fuente */
    color: #1b0404; /* Color de texto */
  }
/* Estilos para los botones personalizados */
.btn-custom {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #3b3939;
    background: #ffffff;
    cursor: pointer;
    border: 1px solid #54454580;
    transition: 0.5s ease;
    user-select: none;
}

.btn-custom:hover,
.btn-custom:focus {
    background: #5dc1b9;
  border: 1px solid #5dc1b9;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #9ce0db, 0 0 20px #9ce0db, 0 0 50px #9ce0db, 0 0 100px #9ce0db;
}



