/* Estilos para el cuerpo de la página */
body {
  background: #ffffff;
  font-family: 'Noto Sans'; /* Fuente para todo el cuerpo */
  margin: 0;
  padding: 0;
}

/* Estilo del encabezado o navbar */
.navbar {
  border: 2px solid #F8EEFF; /* Color del borde */
  border-radius: 10px; /* Bordes redondeados */
  margin: 0; /* Elimina el margen alrededor del encabezado */
  padding: 0;
  background-color: #F8EEFF; /* Fondo morado */
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Estilos para los enlaces de los botones en el navbar */
.nav-link {
  position: relative;
  color: rgb(190, 55, 55); /* Color de texto normal */
  font-size: 18px;
  text-decoration: none; /* Quitar subrayado */
  padding: 10px 20px;
  transition: color 0.3s ease-in-out; /* Animación para cambio de color */
}

/* Efecto hover: cambio de color y línea debajo */
.nav-link:hover {
  color: #d48ee0; /* Color del texto al pasar el mouse */
}

/* Efecto de la línea debajo del texto */
.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #d48ee0; /* Color de la línea */
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out; /* Animación de la línea */
}

/* Al pasar el mouse, la línea se expande completamente */
.nav-link:hover::after {
  width: 100%; /* La línea se extiende completamente debajo del texto */
}
.nav-link.active::after {
  width: 100%; /* Mantener la línea del enlace activo completa */
  background-color: #d48ee0; /* Color de la línea */
}

/* Estilos para el encabezado */
footer {
  background-color: #F8EEFF; /* Fondo del pie de página */
  color: #38323de0; /* Color del texto */
  padding: 15px 0; /* Aumenta el espaciado interior */
  text-align: center;
  margin: 6; /* Eliminamos márgenes */
}

/* Estilos para el contenido principal */
.container {
  max-width: 1200px; /* Ancho máximo del contenido principal */
  background-color: #ffffff; /* Fondo del contenido principal */
  padding: 1px; /* Espaciado interior del contenido */
  border-radius: 5px; /* Bordes redondeados */
  margin-bottom: 6px; /* Agregar margen inferior */
}

/* Estilos para los botones */
.btn {
  border-radius: 20px; /* Bordes redondeados */
}

/* Estilos para los formularios */
.form-control {
  border-radius: 20px; /* Bordes redondeados */
}

/* Estilos para los botones del formulario */
.form-control + .btn {
  border-radius: 20px; 
}

.btn-lightblue {
  background-color: #df80eb;
  color: white;
  border: none;
}

.btn-lightblue:hover {
  background-color: #d48ee0;
  color: white;
}
